# 테라폼 키 파일
terraform-key.json

# 모든 폴더 내의 secrets.auto.tfvars 파일
**/*secrets.auto.tfvars

# Terraform 관련 파일들
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
*.env
*.tar.gz